*{
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1; /* the main grow to the footer stay in the bottom of the screen*/
}

h1 {
  font-weight: 600;
  margin-top: 200px;
  text-align: center;
  font-size: 36px;
}

.container-products-img {
  position: relative;
  width:985px;
  margin: 0 auto;
  background-color: #d7f2e9;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.6);
  margin: 70px auto 40px;
  padding: 20px;
}
.products-photos-wrapper {
  overflow-x: auto;
  margin: 0 10px 0 15px;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge*/
  scrollbar-width: none; /* Firefox */
}

.products-photos {
  margin: 10px 0;
  padding: 0px auto;
  display: flex;
  flex-flow: nowrap;
  gap: 20px;
  border-radius: 4px;
}
.arrow-left,
.arrow-rigth {
  position: absolute;
  top: 0;
  left: 0px;
  right: auto;
  bottom: 0;
  font-size: 50px;
  line-height: 200px;
  width: 30px;
  text-align: center;
  color: rgb(2, 0, 0);
  cursor: pointer;
  border: none;
  opacity: 0;
  transition: all 600ms cubic-bezier(0.4, 0, 1, 1)e-in-out;
}

.arrow-rigth {
  left: auto;
  right: 0px;
  border: none;
  margin-left: 5px;

}

.arrow-left:hover,
.arrow-rigth:hover {
  background-color: transparent;
  opacity: 1.2;
  font-weight: bolder;
  margin-right: 5px;
}

.image {
  background-color:#d7f2e9;
  justify-content: center;
  width:300px;
  height: 300px;
  /* Esta propriedade flex-shrink diminui o elemento para caber, setando para 0 evita que isso aconteça */
  flex-shrink: 0;
  opacity: 0.7;
  transition: all 600ms ease-in-out;
}

.current-image {/* Style event Javascript carousel*/
  opacity: 1;
  border:5px solid #84D2C5;
  border-radius: 3px;
  box-shadow: 3px 3px 4px 4px rgba(47, 71, 62, 0.7);
  transform: scale(1.05);
}

.products-description h2 {
  padding-bottom: 20px;
  margin: 30px;
  font-weight: 500;
  font-size: 26px;
}
.products-description {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}
.descriptions-product {
  font-size: 18px;
}

#quero-encomendar {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  width: 300px;
  height: 56px;
  margin: 50px auto;
  background: #ff5f5c;
  font-size: 22px;
  /* font-family: 'Monteserrat', sans-serif; */
  font-weight:bolder;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}

.card-photos {
  display:flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  margin: 10px 65px;
}


.card-photo {
  background-color: #ebf6f2;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(104, 150, 137, 0.302);
  justify-content: center;
  width: 300px;
  margin: 25px 20px ;

}
.border-zoom {/* Style event Javascript cards products*/
  border:6px solid #84D2C5;
  box-shadow: 6px 6px 9px 0px  rgba(0,0,0,0.5);
  transform: scale(1.125);
}

.card-photo img {
  width: 100%;
  height: 250px;
}

.product-description {
  padding: 0 15px 15px;
}

.product-description h2 {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
  color: #5a5f5f;
  font-weight: bolder;
}

.product-description h3 {
  font-size: 18px ;
  padding-bottom: 10px;
}

.text-description {
  padding-bottom: 10px;
}

.product-description p {
  font-size: 16px;
  line-height: 20PX;
}


@media screen and (max-width:1012px) {
  .container-products-img {
    width: 645px;
  }
  .image {
    width:280px;
    height: 280px;
  }
}
@media screen and  (max-width: 898px) {
  .container-products-img {
    width: 420px;
  }

  .image {
    width:250px;
    height: 250px;
  }

@media screen and  (max-width: 600px) {
  .container-products-img {
    width: 300px;
  }

  .image {
    width:250px;
    height: 250px;
  }
  nav li {
    padding: 5px;
  }
  .footer-list {
    padding: 10px 40px 15px;
  }
  .rede-sociais {
    padding: 10px;
  }
}
}
