*{
  height: auto;
  padding: 0;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.princ {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.ong_name{
  padding-right: 30px;
  align-self:center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
}
.bolha1 {
  background-color: #d7f2e9;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 50px;
  max-width: 450px;
  text-align: center;
  font-size: 20px;
}
.bolha2 {
  background-color: #d7f2e9;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 50px;
  max-width: 450px;
  text-align: center;
  font-size: 20px;
}
.princ h1 {
  font-size: 50px;
  text-align: center;
}

.cards h2 {
  line-height: 50px;
}
