body{
    background-image: linear-gradient(to left, rgba(142, 239, 184, 0.733), rgb(46, 186, 133));
}
.box{
    font-size: 15px;
    color: white;
    position: absolute; /* utilizar só o espaço do elemento*/
    top: 50%; /* centralizar*/
    left: 50%; /* centralizar*/
    transform: translate(-50%, -50%); /* centralizar*/
    background-color: rgba(0, 0, 0, 0.8); /* cor ao elemento*/
    padding: 15px; /* espaco entre o elemento e a borda*/
    border-radius: 15px; /* arredondar as bordas*/
    width: 20%; /* largura do elemento*/
    margin-top: 70px;
  }
fieldset{
    border: 3px solid rgb(23, 198, 131);
    text-align: center;
    ;
}
legend{
    border: 2px solid rgb(23, 198, 131);
    padding: 10px;
    text-align: center;
    background-color:rgb(23, 198, 131);
    border-radius: 5px;
    color: black;
    font-size: 20px;
}
input {
  padding-top: 5px;
  padding-bottom: 2px;
}

.inputBox{
    position: relative; /* posição normal*/
    margin: 15px 0 ;
    padding: 10px 0 15px;
}


.inputUser{
    background: none; /* sem fundo*/
    border: none;
    border-bottom: 1px solid white;
    outline: none; /* tira a marcação quando clicar*/
    color:white; /* cor da escrita*/
    top: 5px;
    font-size: 12px;
    width: 95%;
    letter-spacing: 2px; /* espaçamento caracteres*/
}
.labelInput{
    position: absolute;
    top: -20px;
    font-size: 15px;
    left: 10px;
    pointer-events: none; /* qualquer lugar que clicar executa a ação*/
    transition: .2s;
}
#submit{
    width: 35%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb white;
}

@media screen and  (max-width: 1445px) {
  .box {
    width: 23%; /* largura do elemento*/
  }
}
@media screen and  (max-width: 1245px) {
  .box {
    width: 30%; /* largura do elemento*/
  }
}
@media screen and  (max-width: 982px) {
  .box {
    width: 38%; /* largura do elemento*/
  }
}
@media screen and  (max-width: 745px) {
  .box {
    width: 45%; /* largura do elemento*/
  }
}
/* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
  /* content: "*Campo obrigatório"; */
  position: absolute;
  top: 0;
  right: 0;
  color: #DFDFDF;
  font-size: .65rem;
  padding: .2rem .3rem;
  width: auto;
  display: block;
  background-color: #202020;
}

input.error {
  border: solid 2px #af1a1a;
  background-color: #CCBBBB;
  color: #af1a1a;
}

input.correct {
  background-color: #BBCCBB;
  border: solid 2px #1c4b1c;
  color: #1c4b1c;
}

.visible {
  display: block;
}
