*{
  height: auto;
  padding: 0;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-top: 50px;
}

.princ {
  display: flex;
  justify-content: center;
  padding: 110px 0 50px;
}

.princ > img {
border-radius: 8px;
}

.ong_name{
  padding-right: 30px;
  align-self:center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
  font-size: 16px;
  margin-bottom: 40px;
}
.bolha1 {
  background-color: #d7f2e9;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 50px;
  max-width: 320px;
  text-align: center;
}
.bolha2 {
  background-color: #d7f2e9;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 50px;
  max-width: 320px;
  text-align: center;
}
.princ h1 {
  font-size: 50px;
  text-align: center;
}

.cards h2 {
  line-height: 50px;
}
